li {
  width: 100%;
}

.workout-item {
  display: flex;
  padding: 15px;
  background: #44332a;
  margin-top: 10px;
  justify-content: space-between;
  color: #fff;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.55);
}

.workout-item__date {
  color: #d2ffd7;
}

.workout-item span {
  width: 30%;
}

.workout-item span:last-child {
  width: 10%;
  text-align: right;
}

.workout-item .cross {
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  color: #f24352;
}
